.footer {
	display: flex;
	justify-content: center;
	align-items: center;
  background-color: black;
  position: fixed;
  bottom: 0px;

  @include size(100vw, 40px);

  @include medium {
  	justify-content: space-around;
  }
}

.footer__facebook {
	margin: 0px 3vw 0px 3vw;

	@include medium {
		margin: 0px;
	}

	a {
		font-size: 1.4rem;
		margin: 0px 8px 0px 8px;
	}
}

.footer__contact {
	margin: 0px 3vw 0px 3vw;

	@include medium {
		margin: 0px;
	}
}
