.footer {
	display: flex;
	justify-content: center;
	align-items: center;
  background-color: black;
  position: fixed;
  bottom: 0px;

  @include size(100vw);

  @include medium {
  	justify-content: space-around;
  }
}

.footer__facebook {
	@include medium {
		margin: 0px 3vw 0px 3vw;
	}

	i {
		font-size: 3rem;
	}
}

.footer__contact {
	@include medium {
		margin: 0px 3vw 0px 3vw;
	}

	p {
		margin: 0px;
	}
}
