.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top : 0px;
	left: 0px;
	@include size($siteWidth);

	.header__logo {
		display: flex;
		justify-content: center;
		text-align: center;

		img {
			@include size(100px);
			margin: $headerMargin;
		}

		h2 {
			margin: $headerMargin;
		}
	}

	.header__link {
		a {
			margin: $headerMargin;
		}
	}
}