include ../partials/header.pug

<div class="presentation">
  <div class="presentation__texte">
    <h2>Fraichement débarqué</h2>
    <p>BackUp, c'est un groupe de rock saxophonique. Les membres ne se refusent rien, de la violence du rock Noir Désirien au groove funky des Red Hot, lorgnent avec le Metal ou avec les mélodies plus Pop, et multiplient les influences pour jouer ce qu'ils aiment. Mais la volonté de créer un style cohérent et plein d’énergie est essentielle. Les concerts sont un mélange de sueur, de poils de batteur et d'ambiance parfois festive. Néanmoins le groupe ne néglige pas ses textes, qui oscillent entre la langue de Molière et celle de Shakespeare.</p>
  </div>
  <div name="presentation" class="presentation__video">
    <video src="img/presentation.mp4" autoplay loop controls muted></video>
  </div>
</div>

include ../partials/footer.pug
