include ../partials/header.pug

<div class="presentation">
  <div class="presentation__texte">
    <h2>Fraichement débarqué</h2>
    <p>BackUp, c'est un groupe de rock saxophonique. Les membres ne se refusent rien, de la violence du rock Noir Désirien au groove funky des Red Hot, lorgnent avec le Metal ou avec les mélodies plus Pop, et multiplient les influences pour jouer ce qu'ils aiment. Mais la volonté de créer un style cohérent et plein d’énergie est essentielle. Les concerts sont un mélange de sueur, de poils de batteur et d'ambiance parfois festive. Néanmoins le groupe ne néglige pas ses textes, qui oscillent entre la langue de Molière et celle de Shakespeare.</p>
  </div>
  <div id="presentation" class="presentation__video">
    <video src="img/presentation.mp4" autoplay loop controls muted></video>
  </div>
</div>

<div id="photos" class="photos">
  <div class="photos__container">
    <img src="img/img_1.jpeg" alt="illustration">
    <img src="img/img_2.jpeg" alt="illustration">
    <img src="img/img_3.jpeg" alt="illustration">
    <img src="img/img_4.jpeg" alt="illustration">
    <img src="img/img_5.jpeg" alt="illustration">
  </div>
</div>

<div id="dates" class="dates">
  <div class="dates__titre">
    <h2>Nos dates</h2>
  <div>
  <div class="dates__group">
    <ul>
      <li>Le 15/07/2018 - Angoulême à 22h30</li>
      <li>Le 15/07/2018 - Angoulême à 22h30</li>
      <li>Le 15/07/2018 - Angoulême à 22h30</li>
      <li>Le 15/07/2018 - Angoulême à 22h30</li>
    </ul>
  <div>
</div>

include ../partials/footer.pug
