include ../partials/header.pug

<a><img src="img/logo.jpg"></a>
<h2>New stuff is comming !</h2>

<div>
  <a href="page2.html">See page 2</a>
</div>
<img src="img/logo.jpg">
<img src="img/sky.jpg">
<img src="img/yoshi.png">

include ../partials/footer.pug
