<footer class="footer">
  <div class="footer__facebook">
    <a href="https://www.facebook.com/BackupMusic16/0" target="blanck"><i class="fab fa-facebook-square"></i></a>
  </div>
  <div class="footer__contact">
    <a href="#contact"><p>Contact</p></a>
  </div>
</footer>
</body>
</html>