<footer class="footer">
  <div class="footer__facebook">
    <a href="https://www.facebook.com/BackupMusic16" target="blanck"><i class="fab fa-facebook-square"></i></a>
    <a href="#instragram/BackUp"><i class="fab fa-instagram"></i></a>
    <a href="#bandcamp/BackUp"><i class="fab fa-bandcamp"></i></a>
  </div>
  <div class="footer__contact">
    <a href="#contact">Contact</a>
  </div>
</footer>
</body>
</html>