<!DOCTYPE html>
<html>
<head>
  <title>Backup music</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
  <header class="header">
    <div class="header__logo">
      <a><img src="img/logo_fond_transparent.png"></a>
        <h2>Rock, funk and punk</h2>
      </div>
      <div class="header__link">
        <a href="#presentation">Notre groupe</a>
        <a href="#photos">Nos photos</a>
        <a href="#date">Nos dates</a>
      </div>
    </header>
