<!DOCTYPE html>
<html>
<head>
  <title>Backup music</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <link rel="icon" type="image/png" href="img/fav-icons.png" />
  <script type="text/javascript" src="js/script.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
</head>
<body>
  <header class="header">
    <div class="header__logo">
      <a href=""><img src="img/logo_fond_transparent.png"></a>
        <h2>Rock, funk and punk</h2>
      </div>
      <div class="header__link">
        <a href="#presentation">Notre groupe</a>
        <a href="#photos">Nos photos</a>
        <a href="#date">Nos dates</a>
      </div>
    </header>
