$blackBackground = #141414;
$headerMargin = 2px 10px 2px 10px;
$siteWidth = 100vw;
$siteHeight = 100vh;

@mixin size($width, $height: auto) {
  width: $width;
  height: $height;
}

@font-face {
 font-family: "Roboto";
 src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}