@import 'layout';
@import 'blocs/header';
@import 'blocs/footer';
@import 'blocs/presentation';

* {
	box-sizing: border-box;
}

html {
	font-family: "Roboto", Arial;
	color: white;
	background-color: #141414;
}

body {
	margin: 0px;
	overflow: auto;
}

a {
	text-decoration: none;
	color: white;
}
