@import 'layout';
@import 'blocs/header';
@import 'blocs/footer';

* {
	box-sizing: border-box;
}

html {
	font-family: "Roboto", Arial;
	color: white;
	background_color: $blackBackground;
}

h1 {
  color: brown;

  &:hover {
    color: green;
  }
}
